/test/test-output/
/release-tmp/
/local/
/gmp-root/
/autom4te.cache/
.arcconfig

/bin/x*
/*-sixgill/


**/.libs/
**/config.log
**/config.mk
**/config.status
**/libtool

config.json
config.h
libevent/Makefile
libevent/config.h
libevent/libtool
libevent/sample/Makefile
libevent/sample/event-test
libevent/sample/signal-test
libevent/sample/time-test
libevent/test/Makefile
libevent/test/bench
libevent/test/regress
libevent/test/test-eof
libevent/test/test-init
libevent/test/test-time
libevent/test/test-weof

*~
*.o
*.a
*.so
*.lo
*.la
